.main {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Spline Sans", sans-serif;
}
.landing {
  display: flex;
  width: 100vw;
  height: 85vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 2 1 auto;
  position: relative;

  &-elements{
      position: absolute;
      width: 60px;
      height: 60px;
      border: solid 5px #040808c0;
      transform: translate(-50%,-50%);
      &-1{  
          top:40%;
          left:5%;
          animation: rotate 7s linear infinite;
      } 
      &-2{  
        animation: rotate 12s linear infinite;
        top:40%;
        width: 80px;
        height: 80px;
        left:25%;
      } 
      &-3{  
        animation: rotate 15s linear infinite;
        top:60%;
        left:35%;
        width: 95px;
        height: 95px;
      } 
      &-4{  
        animation: rotate 16s linear infinite;
        top:70%;
        left:47%;
        width: 95px;
        height: 95px;
      } 
      &-5{  
        animation: rotate 21s linear infinite;
        top:30%;
        left:12%;
        width: 70px;
        height: 70px;
      } 
      &-6{  
        animation: rotate 8s linear infinite;
        top:5%;
        left:50%;
        width: 85px;
        height: 85px;
      } 
      &-7{  
        animation: rotate 11s linear infinite;
        top:20%;
        left:20%;
        width: 105px;
        height: 105px;
      } 
      &-8{  
        animation: rotate 17s linear infinite;
        top:95%;
        left:55%;
        width: 90px;
        height: 90px;
      }
      &-9{  
        animation: rotate 15s linear infinite;
        top:90%;
        left:35%;
        width: 75px;
        height: 75px;
      } 

  }
}
.animation {
  flex-shrink: 2 1 auto;
  width: 25%;
  img{
    width: 20px;
  }
}
.landing-page {
  flex: 3 2 auto;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 10rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #161d1d;
    width: 100%;
    height: 100%;
    animation: text-reveal 2.5s ease forwards;
  }

  &-heading {
      word-spacing: .5rem;
      letter-spacing: .3rem;
    margin-bottom: 2rem;
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 500;
    font-style: bold;
    background: -webkit-linear-gradient(45deg, #087ee1, #05e8ba);
    background-clip: text;
    animation: text 3.2s ease forwards;
    -webkit-text-fill-color: transparent;
  }

  &-para {
    width: 60%;
    font-weight: 400;
    color: aliceblue;
    font-size: 1.3rem;
    line-height: 1.5;

    animation: text 2.8s ease forwards;
    word-spacing: 0.2rem;
  }
  &-text {
    position: relative;
    width: 40%;
    margin-top: 3rem;
    animation: text 2.5s ease forwards;
    
  }

  &-input {
    padding: 1rem 1rem;
    font-size: 1.3rem;
    appearance: none;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    transition: all 0.2s ease;
    border: none;
    border-bottom: 1px solid #05e8ba;
    background: none;
    outline: none;
    color: aliceblue;
    &:valid + .landing-page-placeholder,
    &:focus + .landing-page-placeholder {
      // left: -120px;
      // top: 10px;
      background: -webkit-linear-gradient(45deg, #087ee1, #05e8ba);
      background-clip: text;
      font-size: 1.5rem;
      -webkit-text-fill-color: transparent;
    }
    &:focus {
      border-bottom: 3px solid #0fbce7;
      -webkit-border-image: -webkit-gradient(#087ee1, #05e8ba) 90;
    }
    &:focus,
    &:valid {
      margin-left: 10rem;
    }
  }
  &-placeholder {
    transition: all 0.2s ease-in-out;
    position: absolute;
    color: gray;
    font-size: 1rem;
    left: 0;
    top: calc(20% + 10px);
  }
  &-button {
    position: absolute;
    bottom: -25%;
    right: 30%;
    margin-top: 2rem;
    display:inline-block;
    width: 15%;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(45deg, #087ee1, #05e8ba);
    color: aliceblue;
    border: none;
    border-radius: 2rem;
    outline: none;
   animation: button 4s ease;
 
  
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      transform: translateY(-5px);
      box-shadow: -0.2rem 1rem 0.5rem rgba(15, 200, 176, 0.2);
    }

    &:active {
      transform: translateY(-2px);
      box-shadow: -0.3rem 0.5rem 0.5rem rgba(15, 200, 176, 0.2);
    }
    &-arrow {
      width: auto;
      height: inherit;
      display: inline-block;
      transition: all 0.2s ease;
      animation: arrow 1.5s ease-out infinite;
    }
    &-2 {
      width: auto;
      height: inherit;
      display: inline-block;
      transition: all 0.2s ease;
      transform: translateX(5px);
    }
  }
}
.animation {
  margin-right: 5%;
  width: 30%;
  img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  color: aliceblue;
  height: 15vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;
  align-items: center;
  justify-content: stretch;
  font-weight: 200;
  font-style: bold;
  padding-top: 2rem;
  //  background-color: #202424;
  &-name {
    flex: 5 1 auto;
  }
  &-icons {
    flex: 4 1 auto;
    font-size: 1.6rem;
    text-align: center;
    width: 70vh;
    display: flex;
    justify-content: space-around;
  }
  &-icon {
    margin-left: 1rem;
    width: auto;
  }

  &-github {
    transition: all 0.2s ease;
    &:hover {
      color: #8400e3;
    }
  }
  &-codepen {
    transition: all 0.2s ease;

    &:hover {
      background: #202424; 
      border-radius: 50%;
      display: inline-block;
      font-size: 2rem;
    }
  }

  &-mail {
    transition: all 0.2s ease;
    &:hover {
      color: rgb(160, 49, 49);
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes text-reveal{
    0%{
        opacity: 100;
        transform: translateY(0px);

    }
    100%{
        opacity: 0.2;
        transform: translateY(-500px);

    }
}

@keyframes text{
    to{
        transform: translateY(0px);
    }
    from{
        transform: translateY(20px);
    }
}

@keyframes rotate{
    from{
        transform:  translateY(0px) scale(0) rotate(0);
        opacity: 1;

    }

    to{
        transform: translateY(-80px) scale(1.2) rotate(360deg) ;
        opacity: 0;
    }
}

@keyframes button{
    0%{
        transform: scale(.6) translateY(100px) ;
        opacity: 0;
    }

    50%{
        opacity: 0;
    }
    100%{
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}
/* ------------------------------Responsive For Pc screens ------------------------------------- */

@media only screen and (max-width: 1750px){

  .landing-page-button{
    font-size: 1rem;
  }

}

@media only screen and (max-width:1620px){
  .landing-page{
    font-size: 1rem;
    width: 17%;
  }
}

@media only screen and ( max-width: 1545px) {
  .landing-page{
    background-color: transparent;
  }

  .landing-page-heading{
    font-size: 3rem;
  }

  .landing-page-para{
    width: 50%;
    font-size: 1rem;
  }

  .landing-page-button{
    font-size: .9rem;
    width: 20%;
    right: 30%;
  }
  
}