
.landing{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2 1 auto;
}
.animation{
    flex-shrink: 2 1 auto;
    width: 30%;
}
.landing-page{
    flex: 3 2 auto;
    font-family: 'Spline Sans', sans-serif;
    max-width:100vw;
    background-color: #161D1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 10rem;

    &-heading{
        margin-bottom: 2rem;
        font-size: 4.5rem;
        text-transform: capitalize;
        font-weight:500;
        font-style: bold;
        background: -webkit-linear-gradient(45deg,#087ee1, #05e8ba);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    &-para{
        width : 60%;
        font-weight: 200;
        color: aliceblue;
        font-size: 1.3rem;
        word-spacing: .2rem;

    }
    &-text{
        position: relative;
        width:40%;
        margin-top:3rem;
    }

    &-input{
        padding: 1rem 1rem;
        font-size: 1.3rem;
        appearance: none;
        max-width: 100%;
        overflow: hidden;
        height: 100%;
        transition: all .2s ease;
        border: none;
        border-bottom: 1px solid #05e8ba;
        background: none;
        outline: none;
        color: aliceblue;
        &:valid + .landing-page-placeholder,
        &:focus + .landing-page-placeholder{
           // left: -120px;
           // top: 10px;
            background: -webkit-linear-gradient(45deg,#087ee1, #05e8ba);
            background-clip: text;
            font-size: 1.5rem;
            -webkit-text-fill-color: transparent;
        }
        &:focus , &:valid{
        margin-left: 10rem;
        }
    }
    &-placeholder{
        transition: all .2s ease-in-out;
        position: absolute;
        color: gray;
        font-size: 1rem;
        left: 0;
        top: calc(20% + 10px);
    }
    &-button{
        position:absolute;
        bottom: -20%;
        right: 30%;
        margin-top: 2rem;
        width: 15%;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        background: -webkit-linear-gradient(45deg,#087ee1, #05e8ba);
        color: aliceblue;
        border: none;
        border-radius:2rem;
        outline: none;
        cursor: pointer;
        transition: all .2s ease;
        &:hover{
           transform: translateY(-5px);
           box-shadow: -.2rem 1rem 0.5rem rgba(15, 200, 176, 0.2);
        }
        &:active{
            transform: translateY(-2px);
            box-shadow: -.3rem .5rem 0.5rem rgba(15, 200, 176, 0.2);
        }
    }

}